/*------*/
/*HEADER*/
/*------*/
nav{ background-color: #73BA4C; }
nav img.logo{ height: 64px; padding: 5px; }
nav span.logo{ font-size: 16px; vertical-align: top; }
nav div ul.mobile-nav{ position: fixed; text-align: right; background-color: #FFF; width: 200px; right: -500px; border: 1px solid #DDD; height: 100%; height: calc(100% + 60px); z-index: 999; overflow: none; }
nav div ul.mobile-nav li{ float: none; }
nav div ul.mobile-nav li a{ color: #000; padding: 0 25px; }
nav div ul li a{ color: #DDD; }
nav div ul li a.active{ height: 64px; color: #FFF; background-color: rgba(0,0,0,0.1); }
nav div ul li a.active:hover{ background-color: rgba(0,0,0,0.1); }

/*----*/
/*BODY*/
/*----*/
h1{ font-size: 36px; }
h2{ font-size: 32px; }
h3{ font-size: 28px; }
h4{ font-size: 24px; }
h5{ font-size: 16px; }
p{ line-height: 1.2em; }
div.progress{ margin-top: 0; border-radius: 0; height: 5px; }
ul.pagination li.active{ background-color: #446D2D; }
div.checkboxes{ padding: 15px; }
div.realtime.row{ text-align: center; }
div.realtime.row div.col{ text-align: center; min-width: 124px; display: flex; flex-direction: column; align-items: center; }
div.circle{ position: relative; width: 100px; height: 100px; padding-top: 30px; text-align: center; border-radius: 100px; border: 10px solid rgb(54, 162, 235); float: left; display: flex; flex-direction: column; align-items: center; }
div.circle div.inner-box{ position: absolute; text-align: center; padding: 7px; min-width: 85px; height: 30px; bottom: -10px; border: 1px solid lightgray; background-color: white; }
.col-xs-12, .col-sm-4, .col-md-4, .col-lg-4 img{ width: 100%; margin-top: 15px; text-align: center; }

/*----------*/
/*IMPORTANTS*/
/*----------*/
/*Because materializedcss uses important too*/
button.btn:focus{ background-color: #446D2D !important; }
input[type="text"]:focus,input[type="email"]:focus,input[type="date"]:focus,textarea:focus{ border-bottom-color: #64A043 !important; box-shadow: 0 1px 0 0 #64A043 !important; }
input[type="text"]:focus + label, input[type="email"]:focus + label, input[type="date"]:focus + label, textarea:focus + label{ color: #64A043 !important; }
input[type="checkbox"]:checked + label:before{ border-top: 2px solid transparent !important; border-left: 2px solid transparent !important; border-right: 2px solid black; border-bottom: 2px solid black; }
.invalid{ font-size: 0.8rem; border-bottom-color: red !important; box-shadow: 0 1px 0 0 red !important; }

/*Because label importants are important :P*/
label{ color: grey; }
label[for="Temperature"]:before{ border-color: rgb(255, 99, 132) !important; }
label[for="Humidity"]:before{ border-color: rgb(153, 102, 255) !important; }
label[for="Air-pressure"]:before{ border-color: rgb(54, 162, 235) !important; }
label[for="Air-quality"]:before{ border-color: rgb(75, 192, 192) !important; }
label[for="Rain-gauge"]:before{ border-color: rgb(255, 159, 64) !important; }
label[for="Wind-speed"]:before{ border-color: rgb(255, 205, 86) !important; }


/*------*/
/*FOOTER*/
/*------*/
footer.page-footer{ min-height: 40px; padding: 0; background-color: #64A043; font-size: 12px;}
footer.fixed-footer{ position: fixed; bottom: 0; width: 100%; }

/*-------*/
/*CLASSES*/
/*-------*/
.clearfix:before, .clearfix:after{ content: " "; display: table; }
.clearfix:after{ clear: both; }

.lightgreen-text{ color: #73BA4C; }
.green-text{ color: #64A043; }
.darkgreen-text{ color: #446D2D; }
.red-border{ border-color: rgb(255, 99, 132) !important; }
.blue-border{ border-color: rgb(54, 162, 235) !important; }
.orange-border{ border-color: rgb(255, 159, 64) !important; }
.yellow-border{ border-color: rgb(255, 205, 86) !important; }
.green-border{ border-color: rgb(75, 192, 192) !important; }
.purple-border{ border-color: rgb(153, 102, 255) !important; }
.grey-border{ border-color: rgb(231,233,237) !important; }
.hidden{ display: none; }
.warning{ font-size: 11px; color: red; }
p.warning{ padding-left: 35px; }
.container .row{
  margin: 0;
  margin-bottom: 20px;
}

/*------------*/
/*MEDIA QUERYS*/
/*------------*/

@media screen and (max-width: 1024px)
{
	div.realtime.row div.col{ min-width: 119px; }
	div.realtime.row div.col h5{ min-height: 35px; }
}

@media screen and (min-width: 601px)
{
	div.realtime div.col:nth-child(5){ margin-left: 12.5%; }

}

@media screen and (max-width: 600px)
{
	nav img.logo{ height: 58px; }
	div.realtime div.col:last-child{ margin-left: 25%; }

	.graph, p.info{ display: none !important; }
}
/* #######################################################

HOW TO CREATE AN INTERACTIVE GRAPH USING CSS3 & JQUERY [TUTORIAL]

"How to create an Interactive Graph using CSS3 & jQuery [Tutorial]" was specially made for DesignModo by our friend Valeriu Timbuc.

Links:
http://vtimbuc.net
http://designmodo.com
http://vladimirkudinov.com

######################################################## */

/* Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
	margin: 0;
	padding: 0;
}

/* Gradinet and Rounded Corners */
.graph-container, #tooltip, .graph-info a {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*  Graph Container */
.graph-container {
	position: relative;
	width: 550px;
	height: 300px;
	padding: 20px;
	
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}

.graph-container > div {
	position: absolute;
	width: inherit;
	height: inherit;
	top: 10px;
	left: 25px;
}

.graph-info {
	width: 590px;
	margin-bottom: 10px;
}

/* Text Styles */
#tooltip, .graph-info a {
	height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #646464;
}

.tickLabel {
	font-weight: bold;
	font-size: 12px;
	color: #666;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Tooltip */
#tooltip {
	position: absolute;
	display: none;
	padding: 5px 10px;
	border: 1px solid #e1e1e1;
}

/* Links */
.graph-info a {
	position: relative;
	display: inline-block;
	float: left;
	padding: 7px 10px 5px 30px;
	margin-right: 10px;
	text-decoration: none;
	cursor: default;
}

/* Color Circle for Links */
.graph-info a:before {
	position: absolute;
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	top: 13px;
	left: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Colors For each Link */
.graph-info .visitors { border-bottom: 2px solid #71c73e; }
.graph-info .returning { border-bottom: 2px solid #77b7c5; }

.graph-info .visitors:before{ background: #71c73e; }
.graph-info .returning:before{ background: #77b7c5; }

/* Lines & Bars Buttons */
#lines, #bars {
	width: 34px;
	height: 32px;
	padding: 0;
	margin-right: 0;
	margin-left: 10px;
	border-bottom: 2px solid #71c73e;
	float: right;
	cursor: pointer;
}

#lines.active, #bars.active {
	background: #82d344;
	background: -moz-linear-gradient(top,  #82d344 0%, #71c73e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82d344), color-stop(100%,#71c73e));
	background: -webkit-linear-gradient(top,  #82d344 0%,#71c73e 100%);
	background: -o-linear-gradient(top,  #82d344 0%,#71c73e 100%);
	background: -ms-linear-gradient(top,  #82d344 0%,#71c73e 100%);
	background: linear-gradient(to bottom,  #82d344 0%,#71c73e 100%);
}

#lines span, #bars span {
	display: block;
	width: 34px;
	height: 32px;
	background: url('../img/lines.png') no-repeat 9px 12px;
}

#bars span { background: url('../img/bars.png') no-repeat center 10px; }

#lines.active span { background-image: url('../img/lines_active.png'); }
#bars.active span { background-image: url('../img/bars_active.png'); }

/* Hide the First and Last Y Label */
.yAxis .tickLabel:first-child,
.yAxis .tickLabel:last-child { display: none; }

/* Clear Floats */
.graph-info:before, .graph-info:after,
.graph-container:before, .graph-container:after {
	content: '';
	display: block;
	clear: both;
}